*{
    margin: 0px;
    padding: 0px;
}


#cannon{
    background-color: aquamarine;
    position: relative;
}

.enemy {
    background-color: blue;
    position: absolute;
    -webkit-transition-timing-function: linear;
}